<!DOCTYPE html>
<html>
<head>
    <title>Data Analysis App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<img src="/static/img/profile.png" class="top-img">

<div class="container">

    <h2>Upload CSV or XLSX</h2>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" class="file-box">
        <button type="submit" class="blue-btn">Upload</button>
    </form>

    {% if dataset_uploaded %}
    <hr>

    <h2>Enter SQL Command</h2>

    <form action="/run_query" method="POST">
        <textarea name="query" class="command-box"></textarea><br>
        <button type="submit" class="blue-btn">Execute</button>
    </form>
    {% endif %}

</div>

</body>
</html>
